Assignment 
Week 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [25]:
a="hello"
b=[1,"hey",2.0,"pwskills"]
c=3.1456
d=("hello","world",2003,1.2)
print(f"a:{type(a)} b:{type(b)} c:{type(c)} d:{type(d)}")

a:<class 'str'> b:<class 'list'> c:<class 'float'> d:<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [22]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(f"var1:{type(var1)} var2:{type(var2)} var3:{type(var3)} var4:{type(var4)}")

var1:<class 'str'> var2:<class 'str'> var3:<class 'list'> var4:<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [15]:
#division operator
op1=2
op2=3
op2/op1

1.5

In [16]:
#modulus operator
op2%op1

1

In [17]:
#integer division
op2//op1

1

In [18]:
#power operator
op2**op1

9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [27]:
li=[2,5,"hello",4.3,("pw","skills"),["12",78],{'a':"apple","b":"banana"},3,"world",7.9]
for i in li:
    print(i)
    print(type(i))

2
<class 'int'>
5
<class 'int'>
hello
<class 'str'>
4.3
<class 'float'>
('pw', 'skills')
<class 'tuple'>
['12', 78]
<class 'list'>
{'a': 'apple', 'b': 'banana'}
<class 'dict'>
3
<class 'int'>
world
<class 'str'>
7.9
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [37]:
A=16
B=2
div=A
count=0
while(div%B==0):
    div=div/B
    count+=1

if(div==1):
    print("purely divisible")
    print(f"it can be divide by {count} times")
else:
    print("not purely divisible")

purely divisible
it can be divide by 4 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [38]:
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in li:
    if(i%3==0):
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [39]:
#we cant't change, it'll give an error, as it is immutable
a="list"
a[1]="b"

TypeError: 'str' object does not support item assignment

In [41]:
#we can change, as it is mutable
a=["list",1,2]
a[1]="b"
print(a)

['list', 'b', 2]